@import '../../custom.scss';

#footerDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;
    background-color: $dark;
}