#commentDiv {
    background-color: #f8f9fc; /* light */
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 5px;
    max-width: 600px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}