@import "../../custom.scss" ;

#headerDiv{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 3rem;
    background-color: $dark;
}