@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Default variable overrides


$primary: #FCAB1C;
$secondary: #f6c23e;
$success: #1cc88a;
$info: #0585E0;
$warning: #c983c9;
$danger: #e74a3b;
$light: #f8f9fc;
$dark: #5a5c69;

$body-bg: $light;
$body-color: $dark;

$input-border-color: #ced4da;
$input-focus-border-color: $info;
$input-color: #495057;

$btn-primary-bg: $primary;
$btn-primary-border: $primary;
$btn-primary-hover-bg: darken($primary, 10%);
$btn-primary-hover-border: darken($primary, 10%);

$theme-colors: (
	'primary': $primary,
	'secondary': $secondary,
	'success': $success,
	'info': $info,
	'warning': $warning,
	'danger': $danger,
	'light': $light,
	'dark': $dark,
);

.ant-btn{
	background-color: $primary;
}

.sizeDiv{
	display: flex;
	justify-content: center;
	height: 100vh;
	align-items: center;
}
// Required
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/variables-dark';
@import '../node_modules/bootstrap/scss/maps';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/root';

// Optional Bootstrap components here
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/type';
// etc

@import '../node_modules/bootstrap/scss/bootstrap';
